/* variables */

:root {
  --main-family: 'Gilroy', sans-serif;

  --main: #03223f;
  --blue: #f2f9ff;
  --additional: #4b6283;
  --bright-blue: #73a1ce;
  --white: #fdfdff;
  --light-grey: #f5f5f5;
  --black: #010005;

  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --mobile: 375px;
  --tablet: 834px;
  --desktop: 1440px;
}
