<section class="events-section">
  <div class="container">
    <div class="event-box">
      <img
        class="events-image"
        loading="lazy"
        srcset="
          ./img/events-sections/events.webp    1x,
          ./img/events-sections/events-2x.webp 2x,
          ./img/events-sections/events-3x.webp 3x
        "
        src="./img/events-sections/events.webp"
        alt="Зібрання в нашій Церкві, багато людей уважно слухають пастора"
      />
      <div class="text-box box-first">
        <h2 class="main-title events-title">події церкви</h2>
        <p class="main-text events-text">
          Християнська Церква Повного Євангелія "Скеля Спасіння" м. Ужгород
          запрошує на богослужіння
        </p>
        <button type="button" class="button-dark" id="connect-btn">
          Зв’язатися з нами
        </button>
      </div>
    </div>

    <div class="schedule-grid">
      <div class="schedule-item">
        <h3 class="schedule-title">Неділя</h3>
        <time datetime="11:00" class="time">11:00</time
        ><span class="time"> - </span>
        <time datetime="13:00" class="time">13:00</time>
        <p class="schedule-subtitle">загальноцерковне недільне служіння</p>
        <p class="schedule-text">
          За адресою: м. Ужгород, вул. Шандора Петефі 47 (Будинок Побуту), 6
          поверх, кім. 605
        </p>
      </div>
      <div class="schedule-item">
        <h3 class="schedule-title">Понеділок</h3>
        <p class="time">Уточнюйте</p>
        <p class="schedule-subtitle">домашні групи по районам міста</p>
        <p class="schedule-text">
          Інформацію про час та місце проведення дізнайтеся безпосередньо від
          служителів домашніх груп Церкви.
        </p>
      </div>
      <div class="schedule-item">
        <h3 class="schedule-title">Вівторок</h3>
        <time datetime="17:00" class="time">17:00</time
        ><span class="time"> - </span>
        <time datetime="18:30" class="time">18:30</time>
        <p class="schedule-subtitle">Біблійна школа (авс -1)</p>
        <p class="schedule-text">
          За адресою: м. Ужгород, вул. Шандора Петефі 47 (Будинок Побуту), 6
          поверх, кім.605.
        </p>
      </div>
      <div class="schedule-item">
        <h3 class="schedule-title">Середа</h3>
        <p class="time">Уточнюйте</p>
        <p class="schedule-subtitle">домашні групи по районам міста</p>
        <p class="schedule-text">
          Інформацію про час та місце проведення дізнайтеся безпосередньо від
          служителів домашніх груп Церкви.
        </p>
      </div>
      <div class="schedule-item">
        <h3 class="schedule-title">Четвер</h3>
        <time datetime="17:00" class="time">17:00</time
        ><span class="time"> - </span>
        <time datetime="18:30" class="time">18:30</time>
        <p class="schedule-subtitle">Біблійна школа (авс -2)</p>
        <p class="schedule-text">
          За адресою: м. Ужгород, вул. Шандора Петефі 47 (Будинок Побуту), 6
          поверх, кім.605.
        </p>
      </div>
      <div class="schedule-item">
        <h3 class="schedule-title">П'ятниця</h3>
        <time datetime="18:00" class="time">18:00</time
        ><span class="time"> - </span>
        <time datetime="19:00" class="time">19:00</time>
        <p class="schedule-subtitle">
          молитовне служіння церкви (поклоніння та молитва)
        </p>
        <p class="schedule-text">
          За адресою: м. Ужгород, вул. Шандора Петефі 47 (Будинок Побуту), 6
          поверх, кім. 605
        </p>
      </div>
      <div class="support">
        <p class="support-title">Ви можете підтримати наше служіння</p>
        <ul class="support-list">
          <li class="support-item">
            <p
              class="card-text"
              aria-label="Номер рахунку для ваших пожертвувань у гривні ПРИВАТБАНК УКРАЇНА"
            >
              4149 6293 1604 9493
            </p>
            <p class="support-text">
              Номер рахунку для ваших пожертвувань у гривні ПРИВАТБАНК УКРАЇНА
            </p>
          </li>
          <li class="support-item">
            <p
              class="card-text"
              aria-label="Наш емейл для пожертвувань по PayPal"
            >
              skelyachurchs@gmail.com
            </p>
            <p class="support-text">PayPal</p>
          </li>
          <li>
            <p
              class="card-text"
              aria-label="Номер рахунку для ваших пожертвувань у гривні МОНОБАНК"
            >
              4441 1111 4370 3316
            </p>
            <p class="support-text">
              Номер рахунку для ваших пожертвувань у гривні МОНОБАНК
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
