<section class="gallery-section">
  <div class="container">
    <div class="gallery-title-wrapper">
      <picture class="gallery-title-picture">
        <source
          srcset="
            ./img/gallery-sections/gallery-1-d.webp    1x,
            ./img/gallery-sections/gallery-1-d@2x.webp 2x,
            ./img/gallery-sections/gallery-1-d@3x.webp 3x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/gallery-sections/gallery-1-t.webp    1x,
            ./img/gallery-sections/gallery-1-t@2x.webp 2x,
            ./img/gallery-sections/gallery-1-t@3x.webp 3x
          "
          media="(min-width: 834px)"
        />
        <source
          srcset="
            ./img/gallery-sections/gallery-1-m.webp    1x,
            ./img/gallery-sections/gallery-1-m@2x.webp 2x,
            ./img/gallery-sections/gallery-1-m@3x.webp 3x
          "
          media="(min-width: 320px)"
        />
        <img
          loading="lazy"
          class="gallery-title-img"
          src="./img/gallery-sections/gallery-1-m.webp"
          alt="Щасливі дітки підняли руки"
        />
      </picture>
      <div class="gallery-content-box">
        <h3 class="gallery-item-title">дитяче служіння</h3>
        <p class="gallery-item-prg">
          Наша Церква - справжня спільнота однодумців, де кожен знайде своє
          призначення, отримає любов, підтримку та розуміння оточуючих.
        </p>
        <button
          class="button-dark gallery-item-button"
          id="gallery-contacts-modal"
        >
          Зв’язатися з нами
        </button>
      </div>
    </div>

    <ul class="gallery-photo-list">
      <li class="gallery-photo-list-item">
        <div class="gallery-photo-button-wrapper">
          <button
            class="gallery-photo-button swiper-button-prev-0"
            aria-label="Кнопка - попередне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-prev"
              ></use>
            </svg>
          </button>
          <button
            class="gallery-photo-button swiper-button-next-0"
            aria-label="Кнопка - наступне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-next"
              ></use>
            </svg>
          </button>
        </div>

        <h3 class="gallery-photo-item-title">хрещення</h3>

        <div class="gallery-swiper-container">
          <ul class="swiper-wrapper gallery-swiper-wrapper">
            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-2.webp    1x,
                    ./img/gallery-sections/gallery-2@2x.webp 2x,
                    ./img/gallery-sections/gallery-2@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-2-m.webp    1x,
                    ./img/gallery-sections/gallery-2-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-2-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-2.webp"
                  alt="Пастор читає Біблію"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-3.webp    1x,
                    ./img/gallery-sections/gallery-3@2x.webp 2x,
                    ./img/gallery-sections/gallery-3@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-3-m.webp    1x,
                    ./img/gallery-sections/gallery-3-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-3-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-3.webp"
                  alt="Група людей читає молитву"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-4.webp    1x,
                    ./img/gallery-sections/gallery-4@2x.webp 2x,
                    ./img/gallery-sections/gallery-4@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-4-m.webp    1x,
                    ./img/gallery-sections/gallery-4-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-4-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-4.webp"
                  alt="Люди приймабть трапезу"
                  class="gallery-photo-item"
                />
              </picture>
            </li>
          </ul>
        </div>
      </li>

      <li class="gallery-photo-list-item">
        <div class="gallery-photo-button-wrapper">
          <button
            class="gallery-photo-button swiper-button-prev-1"
            aria-label="Кнопка - попередне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-prev"
              ></use>
            </svg>
          </button>
          <button
            class="gallery-photo-button swiper-button-next-1"
            aria-label="Кнопка - наступне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-next"
              ></use>
            </svg>
          </button>
        </div>

        <h3 class="gallery-photo-item-title">інкаунтер</h3>

        <div class="gallery-swiper-container">
          <ul class="swiper-wrapper gallery-swiper-wrapper">
            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-5.webp    1x,
                    ./img/gallery-sections/gallery-5@2x.webp 2x,
                    ./img/gallery-sections/gallery-5@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-5-m.webp    1x,
                    ./img/gallery-sections/gallery-5-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-5-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-5.webp"
                  alt="Люди палять вогнище"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-6.webp    1x,
                    ./img/gallery-sections/gallery-6@2x.webp 2x,
                    ./img/gallery-sections/gallery-6@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-6-m.webp    1x,
                    ./img/gallery-sections/gallery-6-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-6-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-6.webp"
                  alt="Пастор разом із командою"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-7.webp    1x,
                    ./img/gallery-sections/gallery-7@2x.webp 2x,
                    ./img/gallery-sections/gallery-7@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-7-m.webp    1x,
                    ./img/gallery-sections/gallery-7-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-7-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-7.webp"
                  alt="Пастор робить доповідь біль креста"
                  class="gallery-photo-item"
                />
              </picture>
            </li>
          </ul>
        </div>
      </li>

      <li class="gallery-photo-list-item">
        <div class="gallery-photo-button-wrapper">
          <button
            class="gallery-photo-button swiper-button-prev-2"
            aria-label="Кнопка - попередне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-prev"
              ></use>
            </svg>
          </button>
          <button
            class="gallery-photo-button swiper-button-next-2"
            aria-label="Кнопка - наступне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-next"
              ></use>
            </svg>
          </button>
        </div>

        <h3 class="gallery-photo-item-title">школи</h3>

        <div class="gallery-swiper-container">
          <ul class="swiper-wrapper gallery-swiper-wrapper">
            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-8.webp    1x,
                    ./img/gallery-sections/gallery-8@2x.webp 2x,
                    ./img/gallery-sections/gallery-8@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-8-m.webp    1x,
                    ./img/gallery-sections/gallery-8-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-8-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-8.webp"
                  alt="Пастор посміхаеться"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-9.webp    1x,
                    ./img/gallery-sections/gallery-9@2x.webp 2x,
                    ./img/gallery-sections/gallery-9@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-9-m.webp    1x,
                    ./img/gallery-sections/gallery-9-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-9-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-9.webp"
                  alt="Пастор разом із командою"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-10.webp    1x,
                    ./img/gallery-sections/gallery-10@2x.webp 2x,
                    ./img/gallery-sections/gallery-10@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-10-m.webp    1x,
                    ./img/gallery-sections/gallery-10-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-10-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-10.webp"
                  alt="Пастор робить доповідь"
                  class="gallery-photo-item"
                />
              </picture>
            </li>
          </ul>
        </div>
      </li>

      <li class="gallery-photo-list-item">
        <div class="gallery-photo-button-wrapper">
          <button
            class="gallery-photo-button swiper-button-prev-3"
            aria-label="Кнопка - попередне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-prev"
              ></use>
            </svg>
          </button>
          <button
            class="gallery-photo-button swiper-button-next-3"
            aria-label="Кнопка - наступне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-next"
              ></use>
            </svg>
          </button>
        </div>

        <h3 class="gallery-photo-item-title">загальні служіння</h3>

        <div class="gallery-swiper-container">
          <ul class="swiper-wrapper gallery-swiper-wrapper">
            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-11.webp    1x,
                    ./img/gallery-sections/gallery-11@2x.webp 2x,
                    ./img/gallery-sections/gallery-11@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-11-m.webp    1x,
                    ./img/gallery-sections/gallery-11-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-11-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-11.webp"
                  alt="Пастор робить доповідь"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-12.webp    1x,
                    ./img/gallery-sections/gallery-12@2x.webp 2x,
                    ./img/gallery-sections/gallery-12@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-12-m.webp    1x,
                    ./img/gallery-sections/gallery-12-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-12-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-12.webp"
                  alt="Пастор із чоловіком біля креста"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-13.webp    1x,
                    ./img/gallery-sections/gallery-13@2x.webp 2x,
                    ./img/gallery-sections/gallery-13@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-13-m.webp    1x,
                    ./img/gallery-sections/gallery-13-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-13-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-13.webp"
                  alt="Пастор розповідає доповідь"
                  class="gallery-photo-item"
                />
              </picture>
            </li>
          </ul>
        </div>
      </li>

      <li class="gallery-photo-list-item">
        <div class="gallery-photo-button-wrapper">
          <button
            class="gallery-photo-button swiper-button-prev-4"
            aria-label="Кнопка - попередне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-prev"
              ></use>
            </svg>
          </button>
          <button
            class="gallery-photo-button swiper-button-next-4"
            aria-label="Кнопка - наступне фото"
          >
            <svg width="20" height="20">
              <use
                href="./img/gallery-sections/icons/gallery-sprite.svg#icon-arrow-next"
              ></use>
            </svg>
          </button>
        </div>

        <h3 class="gallery-photo-item-title">конференції</h3>

        <div class="gallery-swiper-container">
          <ul class="swiper-wrapper gallery-swiper-wrapper">
            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-14.webp    1x,
                    ./img/gallery-sections/gallery-14@2x.webp 2x,
                    ./img/gallery-sections/gallery-14@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-14-m.webp    1x,
                    ./img/gallery-sections/gallery-14-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-14-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-14.webp"
                  alt="Люди розмовляють з пастором та з його командою"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-15.webp    1x,
                    ./img/gallery-sections/gallery-15@2x.webp 2x,
                    ./img/gallery-sections/gallery-15@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-15-m.webp    1x,
                    ./img/gallery-sections/gallery-15-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-15-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-15.webp"
                  alt="Люди слухають доповідь пастора"
                  class="gallery-photo-item"
                />
              </picture>
            </li>

            <li class="swiper-slide gallery-swiper-slide">
              <picture class="ministry-item-picture">
                <source
                  srcset="
                    ./img/gallery-sections/gallery-16.webp    1x,
                    ./img/gallery-sections/gallery-16@2x.webp 2x,
                    ./img/gallery-sections/gallery-16@3x.webp 3x
                  "
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    ./img/gallery-sections/gallery-16-m.webp    1x,
                    ./img/gallery-sections/gallery-16-m@2x.webp 2x,
                    ./img/gallery-sections/gallery-16-m@3x.webp 3x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  loading="lazy"
                  src="./img/gallery-sections/gallery-16.webp"
                  alt="Люди слухають доповідь пастора"
                  class="gallery-photo-item"
                />
              </picture>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
