<header class="header">
  <div class="container header-container">
    <a
      href="../index.html"
      class="header-logo"
      aria-label="Перейти на домашню сторінку"
      ><svg class="header-svg">
        <use href="./img/header/icons/header-icon.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a href="./creed-page.html" class="header-link">Віровчення</a>
        </li>
        <li class="header-item">
          <a href="./incounter-page.html" class="header-link">Інкаунтер</a>
        </li>
        <li class="header-item">
          <a href="./ministry-page.html" class="header-link">Служіння</a>
        </li>
        <li class="header-item">
          <a href="./gallery-page.html" class="header-link">Галерея</a>
        </li>
        <li class="header-item">
          <a href="./index.html#contacts" class="header-link">Контакти</a>
        </li>
        <li class="header-item">
          <a href="./events-page.html" class="header-link">Календар подій</a>
        </li>
      </ul>
    </nav>
    <a
      href="https://www.youtube.com/@rockofsalvationchurchuzhgo3371"
      class="button-light header-btn"
      target="_blank"
      rel="noreferrer noopener"
    >
      <span class="button-text">Наш YouTube</span>
    </a>
    <button
      type="button"
      class="header-menu-btn"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-mobile-menu-open
      aria-label="Відкрити мобільне меню з навігацією"
      id="mobile-menu-open"
    >
      <svg width="40" height="40">
        <use href="./img/header/icons/header-icon.svg#menu-burger"></use>
      </svg>
    </button>
  </div>
</header>
