<section class="hero-creed">
  <img
    loading="lazy"
    data-srcset="
      ./img/hero-creed/hero-creed-bg-1440.webp    1x,
      ./img/hero-creed/hero-creed-bg-1440@2x.webp 2x,
      ./img/hero-creed/hero-creed-bg-1440@3x.webp 3x
    "
    data-src="./img/hero-creed/hero-creed-bg-1440.webp"
    class="bg-image"
    style="display: none"
    alt="Образ чоловіка, що веде молитву, як символ духовного зв'язку та віри"
  />
  <video autoplay muted loop class="bg-video" id="bg-video">
    <source src="./img/hero-creed/hero-creed-1440.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
  <div class="overlay"></div>
  <div class="content container">
    <h1 class="hero-title">Віровчення</h1>
    <p class="hero-text">Християнська церква повного євангелія</p>
    <div class="hero-list wrapper-line">
      <button class="button-light" id="creed-btn-modal">
        <span class="button-text">Зв'язатися з нами</span>
      </button>
      <a
        href="https://t.me/+2mSWohlYuKBkNjgy"
        class="button-transparent"
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="button-text">Доєднатися до спільноти</span>
      </a>
    </div>
  </div>
</section>
