<section class="hero" id="hero">
  <div id="image-container" class="image-container">
    <picture class="image active">
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/hero-home/hero-bg-1-1440.webp    1x,
          ./img/hero-home/hero-bg-1-1440@2x.webp 2x,
          ./img/hero-home/hero-bg-1-1440@3x.webp 3x
        "
      />
      <img
        data-src="./img/hero-home/hero-bg-1-1440.webp"
        alt="Щаслива родина, що проводить час разом на природі, на фоні милосердя Божого творіння"
      />
    </picture>
    <picture class="image">
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/hero-home/hero-bg-2-1440.webp    1x,
          ./img/hero-home/hero-bg-2-1440@2x.webp 2x,
          ./img/hero-home/hero-bg-2-1440@3x.webp 3x
        "
      />
      <img
        data-src="./img/hero-home/hero-bg-2-1440.webp"
        alt="Щирість молитви, де кожен витягує руки до неба, виражає глибокий зв'язок з духовною силою"
      />
    </picture>
    <picture class="image">
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/hero-home/hero-bg-3-1440.webp    1x,
          ./img/hero-home/hero-bg-3-1440@2x.webp 2x,
          ./img/hero-home/hero-bg-3-1440@3x.webp 3x
        "
      />
      <img
        data-src="./img/hero-home/hero-bg-3-1440.webp"
        alt="Родина, що насолоджується моментом разом, виражаючи любов та радість у їхньому обличчі, як надане Богом дарування"
      />
    </picture>
    <picture class="image">
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/hero-home/hero-bg-4-1440.webp    1x,
          ./img/hero-home/hero-bg-4-1440@2x.webp 2x,
          ./img/hero-home/hero-bg-4-1440@3x.webp 3x
        "
      />
      <img
        data-src="./img/hero-home/hero-bg-4-1440.webp"
        alt="Захід сонця, родина,
      тепло Божої присутності: миті щастя та благодаті"
      />
    </picture>
  </div>
  <div class="content container">
    <h1 class="hero-title">Скеля Спасіння</h1>
    <p class="hero-text">Християнська церква повного євангелія</p>
    <div class="hero-list hero-wrapper-line">
      <button class="button-light" id="hero-btn-modal">
        <span class="button-text">Зв'язатися з нами</span>
      </button>

      <a
        href="https://t.me/+2mSWohlYuKBkNjgy"
        class="button-transparent"
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="button-text">Доєднатися до спільноти</span>
      </a>
    </div>
    <div class="hero-wrapper">
      <p class="wrapper-text">Гортай вниз</p>
    </div>
  </div>
</section>
