<section class="hero-events">
  <img
    loading="lazy"
    data-srcset="
      ./img/hero-events/hero-events-bg-1440.webp    1x,
      ./img/hero-events/hero-events-bg-1440@2x.webp 2x,
      ./img/hero-events/hero-events-bg-1440@3x.webp 3x
    "
    data-src="./img/hero-events/hero-events-bg-1440.webp"
    class="bg-image"
    style="display: none"
    alt="Люди разом зі своєю вірною собакою на тлі природи, як символ взаємодії з Божими дарами і Його тваринами."
  />
  <video autoplay muted loop class="bg-video" id="bg-video">
    <source src="./img/hero-events/hero-events-1440.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
  <div class="overlay"></div>
  <div class="content container">
    <h1 class="hero-title">Календар подій</h1>
    <p class="hero-text">Події і заходи Церкви Скеля Спасіння</p>
    <div class="hero-list wrapper-line">
      <button class="button-light" id="events-btn-modal">
        <span class="button-text">Зв'язатися з нами</span>
      </button>
      <a
        href="https://t.me/+2mSWohlYuKBkNjgy"
        class="button-transparent"
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="button-text">Доєднатися до спільноти</span>
      </a>
    </div>
  </div>
</section>
