<section class="hero-ministry">
  <div class="content container">
    <h1 class="hero-title">Служіння</h1>
    <p class="hero-text">Всі служіння Церкви</p>
    <div class="hero-list wrapper-line">
      <button class="button-light" id="ministry-btn-modal">
        <span class="button-text">Зв'язатися з нами</span>
      </button>
      <a
        href="https://t.me/+2mSWohlYuKBkNjgy"
        class="button-transparent"
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="button-text">Доєднатися до спільноти</span>
      </a>
    </div>
  </div>
</section>
