<section class="hero-incounter">
  <img
    loading="lazy"
    data-srcset="
      ./img/hero-incounter/hero-incounter-bg-1440.webp    1x,
      ./img/hero-incounter/hero-incounter-bg-1440@2x.webp 2x,
      ./img/hero-incounter/hero-incounter-bg-1440@3x.webp 3x
    "
    data-src="./img/hero-incounter/hero-incounter-bg-1440.webp"
    class="bg-image"
    style="display: none"
    alt="На тлі високих гір група людей обіймається, звертаючись до Бога зі спільною молитвою та подякою за Його створення"
  />
  <video autoplay muted loop class="bg-video" id="bg-video">
    <source
      src="./img/hero-incounter/hero-incounter-1440.mp4"
      type="video/mp4"
    />
    Your browser does not support HTML5 video.
  </video>
  <div class="overlay"></div>
  <div class="content container">
    <h1 class="hero-title">Інкаунтер</h1>
    <p class="hero-text">Виїзне служіння Церкви Скеля Спасіння</p>
    <div class="hero-list wrapper-line">
      <button class="button-light" id="incounter-btn-modal">
        <span class="button-text">Зв'язатися з нами</span>
      </button>
      <a
        href="https://t.me/+2mSWohlYuKBkNjgy"
        class="button-transparent"
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="button-text">Доєднатися до спільноти</span>
      </a>
    </div>
  </div>
</section>
