<section class="home-section home-about" id="about" aria-label="Про нас">
  <div class="container home-about-container">
    <div class="home-about-img-wrapper">
      <picture>
        <source
          srcset="
            ./img/home-sections/about-us/about-us-desktop.webp    1x,
            ./img/home-sections/about-us/about-us-desktop@2x.webp 2x,
            ./img/home-sections/about-us/about-us-desktop@3x.webp 3x
          "
          media="(min-width: 1440px)" />
        <source
          srcset="
            ./img/home-sections/about-us/about-us-tablet.webp    1x,
            ./img/home-sections/about-us/about-us-tablet@2x.webp 2x,
            ./img/home-sections/about-us/about-us-tablet@3x.webp 3x
          "
          media="(min-width: 834px)" />
        <source
          srcset="
            ./img/home-sections/about-us/about-us-mobile.webp    1x,
            ./img/home-sections/about-us/about-us-mobile@2x.webp 2x,
            ./img/home-sections/about-us/about-us-mobile@3x.webp 3x
          "
          media="(min-width: 320px)" />

        <img
          class="home-about-img"
          loading="lazy"
          src="./img/home-sections/about-us/about-us-mobile.webp"
          alt="Конгрегація під час служіння в Церкві Скеля Спасіння, повна зала людей, що моляться та піднімають руки"
          width="280"
      /></picture>
    </div>
    <div class="home-section-wrapper">
      <h2 class="home-section-title home-about-title">Про нас</h2>
      <p class="home-section-text home-about-text">
        Християнська Церква Повного Євангелія "Скеля Спасіння" Ужгород, це
        молода християнська громада, що розвивається.  Якщо ви шукаєте місце, де
        б можна було вільно молитися і поклонятися Богові, а також
        заглиблюватися у вивченні Біблії і тому, що вона навчає, приєднуйтесь до
        нас.
      </p>
      <button
        class="button-dark home-about-btn home-contact-us-btn"
        type="button"
        aria-label="Зв’язатися з нами"
      >
        Зв’язатися з нами
      </button>
    </div>
  </div>
</section>
<section class="home-section home-creed" aria-label="Віровчення">
  <div class="container home-creed-container">
    <div class="home-creed-img-wrapper">
      <picture>
        <source
          srcset="
            ./img/home-sections/creed/creed-desktop.webp    1x,
            ./img/home-sections/creed/creed-desktop@2x.webp 2x,
            ./img/home-sections/creed/creed-desktop@3x.webp 3x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/home-sections/creed/creed-tablet.webp    1x,
            ./img/home-sections/creed/creed-tablet@2x.webp 2x,
            ./img/home-sections/creed/creed-tablet@3x.webp 3x
          "
          media="(min-width: 834px)"
        />
        <source
          srcset="
            ./img/home-sections/creed/creed-mobile.webp    1x,
            ./img/home-sections/creed/creed-mobile@2x.webp 2x,
            ./img/home-sections/creed/creed-mobile@3x.webp 3x
          "
          media="(min-width: 320px)"
        />
        <img
          class="home-creed-img"
          src="./img/home-sections/creed/creed-mobile.webp"
          alt="Пастор Церкви 'Скеля Спасіння' виступає перед групою людей, які сидять у залі. Пастор носить червону футболку з бейджиком і стоїть біля підставки для мікрофона."
          width="280"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="home-section-wrapper">
      <h2 class="home-section-title home-creed-title">Віровчення</h2>
      <p class="home-section-text home-creed-text">
        Християнська Церква Повного Євангелія «Скеля Спасіння», м.Ужгород, є
        спадкоємцем християнства, яке за період існування Церкви знаходило себе
        через діяльність таких видатних християн, як апостол Павло, Джон Вікліф,
        Ян Гус, Мартін Лютер, Жан Кальвін та інших.
      </p>
      <button
        class="button-dark home-creed-btn home-contact-us-btn"
        type="button"
        aria-label="Зв’язатися з нами"
      >
        Зв’язатися з нами
      </button>
    </div>
  </div>
</section>
<section class="home-gallery" aria-label="Наша галерея">
  <div class="container home-gallery-container">
    <div class="swiper-container home-gallery-swiper">
      <ul class="swiper-wrapper home-gallery-list">
        <li class="swiper-slide home-gallery-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/gallery/gallery-encounter-desktop.webp    1x,
                ./img/home-sections/gallery/gallery-encounter-desktop@2x.webp 2x,
                ./img/home-sections/gallery/gallery-encounter-desktop@3x.webp 3x
              "
              media="(min-width: 1440px)" />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-encounter-tablet.webp    1x,
                ./img/home-sections/gallery/gallery-encounter-tablet@2x.webp 2x,
                ./img/home-sections/gallery/gallery-encounter-tablet@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-encounter-mobile.webp    1x,
                ./img/home-sections/gallery/gallery-encounter-mobile@2x.webp 2x,
                ./img/home-sections/gallery/gallery-encounter-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/gallery-encounter-mobile.webp"
              alt="Група відвідувачів Церкви, які стоять півколом, споглядають як пастор в синій футболці розкладає гілочки хмизу для багаття. Трохи далі від нього стоять три жінки-служительки у синіх футболках з бейджиками"
              class="home-gallery-img"
              width="280"
              loading="lazy"
          /></picture>
          <p class="home-gallery-item-text">
            Інкаунтер<span class="home-gallery-item-text-line"></span>
          </p>
        </li>
        <li class="swiper-slide home-gallery-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/gallery/gallery-christening-desktop.webp    1x,
                ./img/home-sections/gallery/gallery-christening-desktop@2x.webp 2x,
                ./img/home-sections/gallery/gallery-christening-desktop@3x.webp 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-christening-tablet.webp    1x,
                ./img/home-sections/gallery/gallery-christening-tablet@2x.webp 2x,
                ./img/home-sections/gallery/gallery-christening-tablet@3x.webp 3x
              "
              media="(min-width: 834px)"
            />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-christening-mobile.webp    1x,
                ./img/home-sections/gallery/gallery-christening-mobile@2x.webp 2x,
                ./img/home-sections/gallery/gallery-christening-mobile@3x.webp 3x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/home-sections/gallery/gallery-christening-mobile.webp"
              alt="Пастор та три чоловіки стоять на відкритому повітрі поруч з кущами, готуючись до процесу хрещення. Пастор тримає книгу і пояснює наступні кроки хрещення."
              class="home-gallery-img"
              width="280"
              loading="lazy"
            />
          </picture>
          <p class="home-gallery-item-text">
            Хрещення<span class="home-gallery-item-text-line"></span>
          </p>
        </li>
        <li class="swiper-slide home-gallery-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/gallery/gallery-praying-desktop.webp    1x,
                ./img/home-sections/gallery/gallery-praying-desktop@2x.webp 2x,
                ./img/home-sections/gallery/gallery-praying-desktop@3x.webp 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-praying-tablet.webp    1x,
                ./img/home-sections/gallery/gallery-praying-tablet@2x.webp 2x,
                ./img/home-sections/gallery/gallery-praying-tablet@3x.webp 3x
              "
              media="(min-width: 834px)"
            />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-praying-mobile.webp    1x,
                ./img/home-sections/gallery/gallery-praying-mobile@2x.webp 2x,
                ./img/home-sections/gallery/gallery-praying-mobile@3x.webp 3x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/home-sections/gallery/gallery-praying-mobile.webp"
              alt="Пастор тримає мікрофон і розмовляє з посмішкою, стоячи поруч з чоловіком з розпростертими руками. Обидва носять бейджі і знаходяться в кімнаті для молитовного служіння, на задньому плані видно колонку та інше обладнання для проведення заходів."
              class="home-gallery-img"
              width="280"
              loading="lazy"
            />
          </picture>
          <p class="home-gallery-item-text">
            Молитовні служіння<span
              class="home-gallery-item-text-line pray-line"
            ></span>
          </p>
        </li>
        <li class="swiper-slide home-gallery-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/gallery/gallery-conferences-desktop.webp    1x,
                ./img/home-sections/gallery/gallery-conferences-desktop@2x.webp 2x,
                ./img/home-sections/gallery/gallery-conferences-desktop@3x.webp 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-conferences-tablet.webp    1x,
                ./img/home-sections/gallery/gallery-conferences-tablet@2x.webp 2x,
                ./img/home-sections/gallery/gallery-conferences-tablet@3x.webp 3x
              "
              media="(min-width: 834px)"
            />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-conferences-mobile.webp    1x,
                ./img/home-sections/gallery/gallery-conferences-mobile@2x.webp 2x,
                ./img/home-sections/gallery/gallery-conferences-mobile@3x.webp 3x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/home-sections/gallery/gallery-conferences-mobile.webp"
              alt="Пастор разом з трьома учасниками конференції стоять перед великим дерев'яним хрестом у приміщенні. Всі вони посміхаються, створюючи дружню та приємну атмосферу. На задньому плані видно звукове обладнання."
              class="home-gallery-img"
              width="280"
              loading="lazy"
            />
          </picture>
          <p class="home-gallery-item-text">
            Конференції<span class="home-gallery-item-text-line"></span>
          </p>
        </li>
        <li class="swiper-slide home-gallery-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/gallery/gallery-schools-desktop.webp    1x,
                ./img/home-sections/gallery/gallery-schools-desktop@2x.webp 2x,
                ./img/home-sections/gallery/gallery-schools-desktop@3x.webp 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-schools-tablet.webp    1x,
                ./img/home-sections/gallery/gallery-schools-tablet@2x.webp 2x,
                ./img/home-sections/gallery/gallery-schools-tablet@3x.webp 3x
              "
              media="(min-width: 834px)"
            />
            <source
              srcset="
                ./img/home-sections/gallery/gallery-schools-mobile.webp    1x,
                ./img/home-sections/gallery/gallery-schools-mobile@2x.webp 2x,
                ./img/home-sections/gallery/gallery-schools-mobile@3x.webp 3x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/home-sections/gallery/gallery-schools-mobile.webp"
              alt="Група людей сидить у кімнаті, беручи участь у навчальному заході. Двоє чоловіків та жінка в яскравому одязі сидять у парах, обговорюючи матеріали на папері. Інші учасники сидять у задній частині кімнати, слухаючи та записуючи нотатки. На задньому плані видно бутель з водою та двері."
              class="home-gallery-img"
              width="280"
              loading="lazy"
            />
          </picture>
          <p class="home-gallery-item-text">
            Школи<span class="home-gallery-item-text-line"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="home-gallery-nav-container">
      <button
        class="swiper-button-prev home-gallery-nav-btn"
        aria-label="Попередній слайд"
        type="button"
      >
        <svg class="home-gallery-nav-btn-icon" width="20" height="20">
          <use
            href="./img/home-sections/icons/homepage-sprite.svg#icon-arrow-left"
          ></use>
        </svg></button
      ><button
        class="swiper-button-next home-gallery-nav-btn"
        aria-label="Наступний слайд"
        type="button"
      >
        <svg class="home-gallery-nav-btn-icon" width="20" height="20">
          <use
            href="./img/home-sections/icons/homepage-sprite.svg#icon-arrow-right"
          ></use>
        </svg>
      </button>
    </div>
    <div class="home-section-wrapper">
      <h2 class="home-section-title home-gallery-title">Наша галерея</h2>
      <p class="home-section-text home-gallery-text">
        Перегляньте фото з нашої Церкви, заходів і долучайтесь до спільноти
        однодумців. З нами кожен зможе знайти себе, отримати відповіді на
        питання.
      </p>
      <a
        class="button-dark home-gallery-btn"
        aria-label="Перейти на сторінку галереї"
        href="./gallery-page.html"
      >
        Більше фото
      </a>
    </div>
  </div>
</section>
<section class="home-section home-encounter" aria-label="Інкаунтер">
  <div class="container home-encounter-container">
    <div class="home-encounter-img-wrapper">
      <picture>
        <source
          srcset="
            ./img/home-sections/encounter/encounter-desktop.webp    1x,
            ./img/home-sections/encounter/encounter-desktop@2x.webp 2x,
            ./img/home-sections/encounter/encounter-desktop@3x.webp 3x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/home-sections/encounter/encounter-tablet.webp    1x,
            ./img/home-sections/encounter/encounter-tablet@2x.webp 2x,
            ./img/home-sections/encounter/encounter-tablet@3x.webp 3x
          "
          media="(min-width: 834px)"
        />
        <source
          srcset="
            ./img/home-sections/encounter/encounter-mobile.webp    1x,
            ./img/home-sections/encounter/encounter-mobile@2x.webp 2x,
            ./img/home-sections/encounter/encounter-mobile@3x.webp 3x
          "
          media="(min-width: 320px)"
        />
        <img
          class="home-encounter-img"
          src="./img/home-sections/encounter/encounter-mobile.webp"
          alt="Група людей, усміхнені чоловіки та жінки обіймаються на фоні гір, зелених дерев та рослин "
          width="280"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="home-section-wrapper">
      <h2 class="home-section-title home-encounter-title">Інкаунтер</h2>
      <p class="home-section-text home-encounter-text">
        інкаунтер "Encounter" – (зустріч, зіткнення) – це особливий вид
        служіння, головна мета якого – допомогти людині звільнитися від тих
        речей, які перешкоджають їй нормально жити та виконувати Боже
        призначення.
      </p>
      <a
        class="button-dark home-encounter-btn"
        aria-label="Перейти на сторінку Інкаунтер"
        href="./incounter-page.html"
      >
        Докладніше
      </a>
    </div>
  </div>
</section>
<section class="home-our-team" aria-label="Наша команда">
  <div class="container home-our-team-container">
    <div class="home-section-wrapper">
      <h2 class="home-section-title home-our-team-title">Наша команда</h2>
      <p class="home-section-text home-our-team-text">
        Команда Церкви Скеля спасіння - спільнота однодумців
      </p>
    </div>
    <div class="swiper-container home-our-team-swiper">
      <ul class="swiper-wrapper home-our-team-list">
        <li class="swiper-slide home-our-team-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/our-team/our-team-malyshevy-desktop.webp    1x,
                ./img/home-sections/our-team/our-team-malyshevy-desktop@2x.webp 2x,
                ./img/home-sections/our-team/our-team-malyshevy-desktop@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/our-team/our-team-malyshevy-mobile.webp    1x,
                ./img/home-sections/our-team/our-team-malyshevy-mobile@2x.webp 2x,
                ./img/home-sections/our-team/our-team-malyshevy-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/our-team/our-team-malyshevy-mobile.webp"
              alt="Едуард і Ліана Малишеви, старші пастори"
              class="home-our-team-item-img"
              loading="lazy"
              width="280"
          /></picture>
          <p class="home-our-team-item-text">
            Едуард і Ліана Малишеви, старші пастори Церкви
          </p>
        </li>
        <li class="swiper-slide home-our-team-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/our-team/our-team-kostioviat-desktop.webp    1x,
                ./img/home-sections/our-team/our-team-kostioviat-desktop@2x.webp 2x,
                ./img/home-sections/our-team/our-team-kostioviat-desktop@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/our-team/our-team-kostioviat-mobile.webp    1x,
                ./img/home-sections/our-team/our-team-kostioviat-mobile@2x.webp 2x,
                ./img/home-sections/our-team/our-team-kostioviat-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/our-team/our-team-kostioviat-mobile.webp"
              alt="Микола і Тетяна Костьовят, духовні наставники та служителі домашньої групи"
              class="home-our-team-item-img"
              loading="lazy"
              width="280"
          /></picture>
          <p class="home-our-team-item-text">
            Микола і Тетяна Костьовят, старійшина Церкви, служитель домашньої
            групи Церкви
          </p>
        </li>
        <li class="swiper-slide home-our-team-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/our-team/our-team-chernenko-desktop.webp    1x,
                ./img/home-sections/our-team/our-team-chernenko-desktop@2x.webp 2x,
                ./img/home-sections/our-team/our-team-chernenko-desktop@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/our-team/our-team-chernenko-mobile.webp    1x,
                ./img/home-sections/our-team/our-team-chernenko-mobile@2x.webp 2x,
                ./img/home-sections/our-team/our-team-chernenko-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/our-team/our-team-chernenko-mobile.webp"
              alt="Олександр Черненко, старійшина Церкви разом з дружиною"
              class="home-our-team-item-img"
              loading="lazy"
              width="280"
          /></picture>
          <p class="home-our-team-item-text">
            Олександр Черненко, старійшина Церкви
          </p>
        </li>
        <li class="swiper-slide home-our-team-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/our-team/our-team-luco-desktop.webp    1x,
                ./img/home-sections/our-team/our-team-luco-desktop@2x.webp 2x,
                ./img/home-sections/our-team/our-team-luco-desktop@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/our-team/our-team-luco-mobile.webp    1x,
                ./img/home-sections/our-team/our-team-luco-mobile@2x.webp 2x,
                ./img/home-sections/our-team/our-team-luco-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/our-team/our-team-luco-mobile.webp"
              alt="Аня Луцо, відповідальна за домашню групу, молитовне та зцілювальне служіння"
              class="home-our-team-item-img"
              loading="lazy"
              width="280"
          /></picture>
          <p class="home-our-team-item-text">
            Аня Луцо, служитель домашньої групи Церкви, молитовне служіння,
            служіння зцілення
          </p>
        </li>
        <li class="swiper-slide home-our-team-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/our-team/our-team-liash-desktop.webp    1x,
                ./img/home-sections/our-team/our-team-liash-desktop@2x.webp 2x,
                ./img/home-sections/our-team/our-team-liash-desktop@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/our-team/our-team-liash-mobile.webp    1x,
                ./img/home-sections/our-team/our-team-liash-mobile@2x.webp 2x,
                ./img/home-sections/our-team/our-team-liash-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/our-team/our-team-liash-mobile.webp"
              alt="Ала Ляш, лідер домашньої групи Церкви"
              class="home-our-team-item-img"
              loading="lazy"
              width="280"
          /></picture>
          <p class="home-our-team-item-text">
            Ала Ляш, служитель домашньої групи Церкви
          </p>
        </li>
        <li class="swiper-slide home-our-team-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/our-team/our-team-pugachova-desktop.webp    1x,
                ./img/home-sections/our-team/our-team-pugachova-desktop@2x.webp 2x,
                ./img/home-sections/our-team/our-team-pugachova-desktop@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/our-team/our-team-pugachova-mobile.webp    1x,
                ./img/home-sections/our-team/our-team-pugachova-mobile@2x.webp 2x,
                ./img/home-sections/our-team/our-team-pugachova-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/our-team/our-team-pugachova-mobile.webp"
              alt="Наталія Пугачова, адміністратор Церкви, пророче і молитовне служіння"
              class="home-our-team-item-img"
              loading="lazy"
              width="280"
          /></picture>
          <p class="home-our-team-item-text">
            Наталія Пугачова, пророче служіння, молитовне служіння,
            адміністратор Церкви
          </p>
        </li>
        <li class="swiper-slide home-our-team-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/our-team/our-team-remeta-desktop.webp    1x,
                ./img/home-sections/our-team/our-team-remeta-desktop@2x.webp 2x,
                ./img/home-sections/our-team/our-team-remeta-desktop@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/our-team/our-team-remeta-mobile.webp    1x,
                ./img/home-sections/our-team/our-team-remeta-mobile@2x.webp 2x,
                ./img/home-sections/our-team/our-team-remeta-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/our-team/our-team-remeta-mobile.webp"
              alt="Людмила Ремета, координатор відео та молитовного служіння"
              class="home-our-team-item-img"
              loading="lazy"
              width="280"
          /></picture>
          <p class="home-our-team-item-text">
            Людмила Ремета, відео служіння, молитовне служіння
          </p>
        </li>
        <li class="swiper-slide home-our-team-item">
          <picture>
            <source
              srcset="
                ./img/home-sections/our-team/our-team-shevchuk-desktop.webp    1x,
                ./img/home-sections/our-team/our-team-shevchuk-desktop@2x.webp 2x,
                ./img/home-sections/our-team/our-team-shevchuk-desktop@3x.webp 3x
              "
              media="(min-width: 834px)" />
            <source
              srcset="
                ./img/home-sections/our-team/our-team-shevchuk-mobile.webp    1x,
                ./img/home-sections/our-team/our-team-shevchuk-mobile@2x.webp 2x,
                ./img/home-sections/our-team/our-team-shevchuk-mobile@3x.webp 3x
              "
              media="(min-width: 320px)" />
            <img
              src="./img/home-sections/our-team/our-team-shevchuk-mobile.webp"
              alt="Олеся Шевчук, відповідальна за адміністративне служіння"
              class="home-our-team-item-img"
              loading="lazy"
              width="280"
          /></picture>
          <p class="home-our-team-item-text">
            Олеся Шевчук, Адміністративне служіння
          </p>
        </li>
      </ul>
    </div>
    <div class="home-our-team-nav-container">
      <button
        class="swiper-button-prev home-our-team-nav-btn"
        aria-label="Попередній слайд"
        type="button"
      >
        <svg class="home-our-team-nav-btn-icon" width="20" height="20">
          <use
            href="./img/home-sections/icons/homepage-sprite.svg#icon-arrow-left"
          ></use>
        </svg></button
      ><button
        class="swiper-button-next home-our-team-nav-btn"
        aria-label="Наступний слайд"
        type="button"
      >
        <svg class="home-our-team-nav-btn-icon" width="20" height="20">
          <use
            href="./img/home-sections/icons/homepage-sprite.svg#icon-arrow-right"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<section class="home-section home-pastor" aria-label="Наш пастор">
  <div class="container home-pastor-container">
    <div class="home-pastor-img-wrapper">
      <picture>
        <source
          srcset="
            ./img/home-sections/pastor/pastor-desktop.webp    1x,
            ./img/home-sections/pastor/pastor-desktop@2x.webp 2x,
            ./img/home-sections/pastor/pastor-desktop@3x.webp 3x
          "
          media="(min-width: 1440px)" />
        <source
          srcset="
            ./img/home-sections/pastor/pastor-tablet.webp    1x,
            ./img/home-sections/pastor/pastor-tablet@2x.webp 2x,
            ./img/home-sections/pastor/pastor-tablet@3x.webp 3x
          "
          media="(min-width: 834px)" />
        <source
          srcset="
            ./img/home-sections/pastor/pastor-mobile.webp    1x,
            ./img/home-sections/pastor/pastor-mobile@2x.webp 2x,
            ./img/home-sections/pastor/pastor-mobile@3x.webp 3x
          "
          media="(min-width: 320px)" />
        <img
          class="home-pastor-img"
          src="./img/home-sections/pastor/pastor-mobile.webp"
          alt="Пастор Едуард Малишев"
          width="280"
          loading="lazy"
      /></picture>
    </div>
    <div class="home-section-wrapper">
      <h2 class="home-section-title home-pastor-title">Наш пастор</h2>
      <p class="home-section-text home-pastor-text">
        Християнська Церква Повного Євангелія «Скеля Спасіння» разом з пастором
        Едуардом Малишевим запрошує до себе!
      </p>
      <button
        class="button-dark home-pastor-btn home-contact-us-btn"
        type="button"
        aria-label="Зв’язатися з нами"
      >
        Зв’язатися з нами
      </button>
    </div>
  </div>
</section>
<section class="home-contacts" id="contacts" aria-label="Наші контакти">
  <div class="container home-contacts-thumb">
    <iframe
      title="Розташування Церкви Скеля Спасіння на Google Maps"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d659.3877589292385!2d22.298383669657422!3d48.61843659820631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919b02740d259%3A0x249877ba4939ceb7!2z0L_Qu9C-0YnQsCDQqNCw0L3QtNC-0YDQsCDQn9C10YLQtdGE0ZYsIDQ3LCDQo9C20LPQvtGA0L7QtCwg0JfQsNC60LDRgNC_0LDRgtGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNGX0L3QsCwgODgwMDA!5e0!3m2!1suk!2spl!4v1717341115643!5m2!1suk!2spl"
      width="320"
      height="471"
      style="border: 0"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="home-contacts-map"
    ></iframe>
    <div class="home-contacts-container">
      <div class="home-contacts-wrapper">
        <h2 class="home-section-title home-contacts-title">Контакти</h2>
        <div class="home-contacts-list">
          <div class="home-contacts-item">
            <a
              class="home-contacts-text"
              href="tel:+380662722456"
              aria-label="Телефонуйте нам за номером телефону +380-66-27-22-456"
            >
              <p class="home-contacts-text">Номер телефону:</p>
              <address class="home-contacts-label">+380-66-27-22-456</address>
            </a>
          </div>
          <div class="home-contacts-item">
            <p class="home-contacts-text">Адреса:</p>
            <address class="home-contacts-label">
              м. Ужгород, вул. Шандора Петефі 47 (Будинок Побуту), 6 поверх,
              кім. 605
            </address>
          </div>
          <div class="home-contacts-item">
            <p class="home-contacts-text">Соціальні мережі:</p>
            <ul class="home-contacts-socials">
              <li class="home-contacts-social-item">
                <a
                  href="https://www.facebook.com/skalaspaseniya/"
                  target="_blank"
                  aria-label="Відвідати нашу сторінку в Facebook"
                  class="home-contacts-social-link"
                >
                  <svg class="home-socials-icon" width="40" height="40">
                    <use
                      href="./img/home-sections/icons/homepage-sprite.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="home-contacts-social-item">
                <a
                  href="https://www.youtube.com/@rockofsalvationchurchuzhgo3371"
                  target="_blank"
                  aria-label="Відвідати наш канал на Youtube"
                  class="home-contacts-social-link"
                >
                  <svg class="home-socials-icon" width="40" height="40">
                    <use
                      href="./img/home-sections/icons/homepage-sprite.svg#icon-youtube"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="home-contacts-social-item">
                <a
                  href=""
                  target="_blank"
                  aria-label="Відвідати нашу сторінку в Instagram"
                  class="home-contacts-social-link"
                  ><svg class="home-socials-icon" width="40" height="40">
                    <use
                      href="./img/home-sections/icons/homepage-sprite.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button
          class="button-light home-contacts-btn home-contact-us-btn"
          type="button"
          aria-label="Зв’язатися з нами"
        >
          Зв’язатися з нами
        </button>
      </div>
      <picture>
        <source
          srcset="
            ./img/home-sections/contacts/contacts-tablet.webp    1x,
            ./img/home-sections/contacts/contacts-tablet@2x.webp 2x,
            ./img/home-sections/contacts/contacts-tablet@3x.webp 3x
          "
          media="(min-width: 834px)" />
        <source
          srcset="
            ./img/home-sections/contacts/contacts-mobile.webp    1x,
            ./img/home-sections/contacts/contacts-mobile@2x.webp 2x,
            ./img/home-sections/contacts/contacts-mobile@3x.webp 3x
          "
          media="(min-width: 320px)" />
        <img
          src="./img/home-sections/contacts/contacts-mobile.webp"
          alt="Сім'я, яка складається із бабусі та дідуся, чоловіка та дружини, а також їхнього сина та дочки обіймають одне одного на лоні природи у проміннях сонця посміхаються у камеру."
          loading="lazy"
          width="320"
          class="home-contacts-img"
      /></picture>
    </div>
  </div>
</section>
