<section class="incounter-section">
  <h2 class="visually-hidden">Інкаунтер</h2>
  <div class="incounter-list container">
    <div class="incounter-item reversed-item">
      <img
        class="incounter-image"
        loading="lazy"
        srcset="
          ./img/incounter-sections/image1.webp    1x,
          ./img/incounter-sections/image1-2x.webp 2x,
          ./img/incounter-sections/image1-3x.webp 3x
        "
        src="./img/incounter-sections/image1.webp"
        alt="Наша дружня церковна сімʼя, всі щасливі і посміхаються оскільки зустріли Бога"
      />
      <div class="text-box box-first">
        <h3 class="main-title incounter-title">Що таке інкаунтер?</h3>
        <p class="main-text incounter-text">
          "Encounter" – (зустріч, зіткнення) – це особливий вид служіння,
          головна мета якого – допомогти людині звільнитися від тих речей, які
          перешкоджають їй нормально жити та виконувати Боже призначення.
          Інкаунтер – це виїзне служіння, яке відбувається протягом трьох днів.
          Основна мета досягається надприродною зустріччю з Богом, коли людина
          може подивитися на своє минуле та сьогодення очима Бога.
        </p>
        <button type="button" class="button-dark" id="connect-btn">
          Звʼязатися з нами
        </button>
      </div>
    </div>
    <div class="incounter-item incounter-item-second">
      <!-- Swiper start -->

      <div class="incounter-swiper-container">
        <ul class="incounter-photo-list swiper-wrapper">
          <li class="photo-item swiper-slide">
            <img
              class="incounter-image-second"
              loading="lazy"
              srcset="
                ./img/incounter-sections/image2(1).webp    1x,
                ./img/incounter-sections/image2(1)-2x.webp 2x,
                ./img/incounter-sections/image2(1)-3x.webp 3x
              "
              src="./img/incounter-sections/image2(1).webp"
              alt="Процесс роботи з новими членами Церкви, відпускаємо своє минуле життя заради майбутнього з Богом"
            />
          </li>
          <li class="photo-item swiper-slide">
            <img
              loading="lazy"
              class="incounter-image-second"
              srcset="
                ./img/incounter-sections/image2(2).webp    1x,
                ./img/incounter-sections/image2(2)-2x.webp 2x,
                ./img/incounter-sections/image2(2)-3x.webp 3x
              "
              src="./img/incounter-sections/image2(2).webp"
              alt="Люди моляться і відчувають присутність Бога, його любов і захист"
            />
          </li>
        </ul>
        <div class="swiper-buttons-box">
          <button
            type="button"
            aria-label="Кнопка для перегляду попереднього фото"
            class="swiper-btn swiper-button-prev"
          >
            <svg class="swiper-button-prev-icon" width="20px" height="20px">
              <use
                href="./img/incounter-sections/icons/symbol-defs.svg#icon-caret-swipe"
              ></use>
            </svg>
          </button>
          <button
            type="button"
            aria-label="Кнопка для перегляду наступного фото"
            class="swiper-btn swiper-button-next"
          >
            <svg class="swiper-button-next-icon" width="20px" height="20px">
              <use
                href="./img/incounter-sections/icons/symbol-defs.svg#icon-caret-swipe"
              ></use>
            </svg>
          </button>
        </div>
      </div>
      <!-- Swiper end -->

      <div class="text-box box-second">
        <h3 class="main-title incounter-title incounter-title-second">
          коли він потрібен?
        </h3>
        <p class="main-text">
          Це дозволяє ясно побачити необхідні зміни в житті, які Бог хоче
          побачити у кожній конкретній людині. За час служіння учасник
          підводиться до протистояння за допомогою Слова Божого своєму минулому
          та сьогоденню, щоб наміри Божі відкрилися та реалізувалися у його
          житті. Якщо ви відчуваєте, що ваше життя ніби завмерло, якщо ви хочете
          змін у житті, якщо вам необхідно зміцнитися в переконанні про своє
          спасіння, якщо вам потрібне звільнення від страху, залежностей, гніву
          та шкідливих звичок, і якщо ви бажаєте, щоб Бог наповнив вас Святим
          Духом і використав вас у Своїх планах – тоді відповідь «ТАК!» Вам
          потрібний Інкаунтер.
        </p>
      </div>
    </div>
    <div class="incounter-item reversed-item">
      <img
        class="incounter-image"
        loading="lazy"
        srcset="
          ./img/incounter-sections/image3.webp    1x,
          ./img/incounter-sections/image3-2x.webp 2x,
          ./img/incounter-sections/image3-3x.webp 3x
        "
        src="./img/incounter-sections/image3.webp"
        alt="Наша команда. Ми допоможемо вам і будемо поруч на всьому шляху до зустрічі з Богом"
      />
      <div class="text-box box-third">
        <h3 class="main-title incounter-title">чим допоможе?</h3>
        <p class="main-text incounter-text">
          Завдяки тому, що ви будете далеко від роботи і повсякденних турбот –
          ви зможете більш зосереджено поринути у Слово Боже, а служителі
          молитимуться конкретно за вас за допомогою Божої сили, яка радикально
          змінить ваше життя. Ці три дні «зіткнення з Богом» та справжньої
          переможної битви над гріхами та життєвою буденністю стануть точкою та
          початком нового життя з Небесним Батьком.
        </p>
        <a
          href="https://t.me/+2mSWohlYuKBkNjgy"
          target="_blank"
          rel="noopener noreferrer"
          class="button-dark incounter-link-learn-more"
          >Доєднатися до спільноти</a
        >
      </div>
    </div>
  </div>
</section>
