<section class="ministry-sections">
  <div class="container">
    <h2 class="visually-hidden">Нащі типи служінь</h2>
    <ul class="ministry-list">
      <li class="ministry-list-item">
        <picture class="ministry-item-picture">
          <source
            srcset="
              ./img/ministry-sections/ministry-1-d.webp    1x,
              ./img/ministry-sections/ministry-1-d@2x.webp 2x,
              ./img/ministry-sections/ministry-1-d@3x.webp 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-1-t.webp    1x,
              ./img/ministry-sections/ministry-1-t@2x.webp 2x,
              ./img/ministry-sections/ministry-1-t@3x.webp 3x
            "
            media="(min-width: 834px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-1-m.webp    1x,
              ./img/ministry-sections/ministry-1-m@2x.webp 2x,
              ./img/ministry-sections/ministry-1-m@3x.webp 3x
            "
            media="(min-width: 320px)"
          />
          <img
            loading="lazy"
            class="ministry-item-img"
            src="./img/ministry-sections/ministry-1-m.webp"
            alt="Щасливі дітки підняли руки"
          />
        </picture>
        <div class="ministry-content-box">
          <h3 class="ministry-item-title ministry-item-title-one">
            дитяче служіння
          </h3>
          <p class="ministry-item-prg">
            Дуже важливий час у житті кожної людини – це дитинство. Саме в
            дитинстві формується характер, принципи та ставлення до всього
            навколишнього світу, який сьогодні пропонує занадто багато того, що
            руйнує особистість, яку хоче бачити Бог.<br />
            Якщо порівняти дитинство з молодим деревцем, можна провести певну
            паралель. Зігнувши тоненьке деревце, через час можна побачити, як
            виросте могутнє, але дуже криве дерево з опущеними та покрученими
            гілками. Мета дитячого служіння нашої церкви – виховати міцні
            «дерева, посаджені при потоках вод, листя яких не в'яне».
          </p>
          <button class="button-dark ministry-item-button ministry-btn-modal">
            Зв’язатися з нами
          </button>
        </div>
      </li>

      <li class="ministry-list-item">
        <picture class="ministry-item-picture">
          <source
            srcset="
              ./img/ministry-sections/ministry-2-d.webp    1x,
              ./img/ministry-sections/ministry-2-d@2x.webp 2x,
              ./img/ministry-sections/ministry-2-d@3x.webp 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-2-t.webp    1x,
              ./img/ministry-sections/ministry-2-t@2x.webp 2x,
              ./img/ministry-sections/ministry-2-t@3x.webp 3x
            "
            media="(min-width: 834px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-2-m.webp    1x,
              ./img/ministry-sections/ministry-2-m@2x.webp 2x,
              ./img/ministry-sections/ministry-2-m@3x.webp 3x
            "
            media="(min-width: 320px)"
          />
          <img
            loading="lazy"
            class="ministry-item-img"
            src="./img/ministry-sections/ministry-2-m.webp"
            alt="Група людей із піднятими до гори руками"
          />
        </picture>
        <div class="ministry-content-box">
          <h3 class="ministry-item-title ministry-item-title-two">
            молитовне служіння
          </h3>
          <p class="ministry-item-prg">
            Молитва є головною опорою церкви. Молитви дають можливість як
            церкві, так і її парафіянам розвиватися, зростати та приносити гідні
            плоди. Щоб нове не з’являлося в нашій церкві, воно народжується в
            молитвах вірян і розвивається завдяки молитовній підтримці. До
            молитовних служінь можуть долучитися всі бажаючі і в єдності з
            хвалінням у поклонінні прийти до Господа з особистими питаннями та
            потребами. Отримати від Господа підбадьорення, натхнення та
            відповідь.
          </p>
          <button class="button-dark ministry-item-button ministry-btn-modal">
            Зв’язатися з нами
          </button>
        </div>
      </li>

      <li class="ministry-list-item">
        <picture class="ministry-item-picture">
          <source
            srcset="
              ./img/ministry-sections/ministry-3-d.webp    1x,
              ./img/ministry-sections/ministry-3-d@2x.webp 2x,
              ./img/ministry-sections/ministry-3-d@3x.webp 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-3-t.webp    1x,
              ./img/ministry-sections/ministry-3-t@2x.webp 2x,
              ./img/ministry-sections/ministry-3-t@3x.webp 3x
            "
            media="(min-width: 834px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-3-m.webp    1x,
              ./img/ministry-sections/ministry-3-m@2x.webp 2x,
              ./img/ministry-sections/ministry-3-m@3x.webp 3x
            "
            media="(min-width: 320px)"
          />
          <img
            loading="lazy"
            class="ministry-item-img"
            src="./img/ministry-sections/ministry-3-m.webp"
            alt="Група людей співає пісні біля сцени"
          />
        </picture>
        <div class="ministry-content-box">
          <h3 class="ministry-item-title ministry-item-title-three">
            домашні групи
          </h3>
          <p class="ministry-item-prg">
            Біблія говорить про те, що служіння, де вивчали Писання, роздумували
            над прочитаним і переломлювали хліб, були не тільки в храмі, але й
            по домах, показуючи нам, що це теж дуже важливо.<br />
            У нашій церкві на сьогодні функціонують домашні групи у різних
            районах міста, куди може прийти будь-хто бажаючий і разом з усіма в
            єдності молитися, вивчати Слово і отримати відповіді на життєво
            важливі питання.
          </p>
          <button class="button-dark ministry-item-button ministry-btn-modal">
            Зв’язатися з нами
          </button>
        </div>
      </li>

      <li class="ministry-list-item">
        <picture class="ministry-item-picture">
          <source
            srcset="
              ./img/ministry-sections/ministry-4-d.webp    1x,
              ./img/ministry-sections/ministry-4-d@2x.webp 2x,
              ./img/ministry-sections/ministry-4-d@3x.webp 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-4-t.webp    1x,
              ./img/ministry-sections/ministry-4-t@2x.webp 2x,
              ./img/ministry-sections/ministry-4-t@3x.webp 3x
            "
            media="(min-width: 834px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-4-m.webp    1x,
              ./img/ministry-sections/ministry-4-m@2x.webp 2x,
              ./img/ministry-sections/ministry-4-m@3x.webp 3x
            "
            media="(min-width: 320px)"
          />
          <img
            loading="lazy"
            class="ministry-item-img"
            src="./img/ministry-sections/ministry-4-m.webp"
            alt="Чоловік та жінка читають Біблію"
          />
        </picture>
        <div class="ministry-content-box">
          <h3 class="ministry-item-title ministry-item-title-four">
            Біблійні курси
          </h3>
          <p class="ministry-item-prg">
            Біблійний курс призначений для тих людей, хто шукає відповіді на
            основні питання християнства. Такі як: Хто такий Ісус і навіщо Він
            помер? Навіщо і як мені слід читати Біблію і молитися? Хто такий
            Святий Дух і що Він робить? Навіщо і як потрібно говорити іншим про
            свою віру? Чи зцілює Бог сьогодні? Що таке Церква? Як я можу
            провести своє життя якнайкраще? І інші теми розглядаються в рамках
            курсу. Біблійний курс проводиться по мірі набору груп бажаючих.
          </p>
          <button class="button-dark ministry-item-button ministry-btn-modal">
            Зв’язатися з нами
          </button>
        </div>
      </li>

      <li class="ministry-list-item">
        <picture class="ministry-item-picture">
          <source
            srcset="
              ./img/ministry-sections/ministry-5-d.webp    1x,
              ./img/ministry-sections/ministry-5-d@2x.webp 2x,
              ./img/ministry-sections/ministry-5-d@3x.webp 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-5-t.webp    1x,
              ./img/ministry-sections/ministry-5-t@2x.webp 2x,
              ./img/ministry-sections/ministry-5-t@3x.webp 3x
            "
            media="(min-width: 834px)"
          />
          <source
            srcset="
              ./img/ministry-sections/ministry-5-m.webp    1x,
              ./img/ministry-sections/ministry-5-m@2x.webp 2x,
              ./img/ministry-sections/ministry-5-m@3x.webp 3x
            "
            media="(min-width: 320px)"
          />
          <img
            loading="lazy"
            class="ministry-item-img"
            src="./img/ministry-sections/ministry-5-m.webp"
            alt="Молоді жінки посміхаються"
          />
        </picture>
        <div class="ministry-content-box">
          <h3 class="ministry-item-title ministry-item-title-five">
            молодіжні групи
          </h3>
          <p class="ministry-item-prg">
            Юність наповнена силою, енергією та життєвими прагненнями, які
            здатні активно перетворювати світ на краще. Біблія нагадує про
            важливість цього віку для вирощування особистих відносин з Богом.
            <br />
            Молодіжна служба допомагає кожному молодому людині виявити свою
            унікальність та рости шляхом вивчення Божого Слова, обговорення
            актуальних для молоді питань, молитви за потреби кожного, а також
            веселого проведення часу в теплій дружній атмосфері.
          </p>
          <button class="button-dark ministry-item-button ministry-btn-modal">
            Зв’язатися з нами
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
